{% extends "shop/base.html" %}
{% load i18n %}
{% load satchmo_currency %}
{% load satchmo_order %}

{% block content %}
<h1>{% trans "Моля, потвърдете вашите данни" %}</h1>
{% block error_processing %}
{% if errors %}
    <h3>{% block errorheader %}{% trans "Следните грешки възникнаха. Моля, коригирайте ги и потвърдете отново" %}{% endblock %}</h3>
    {{ errors }}
{% else %}
{% endif %}
{% endblock %}

{% block order_details %}
    {% order_details order default_view_tax %}
{% endblock %}
{% block payment_display %}
{# override for module-specific needs, such as displaying card info #}
{% endblock %}

{% block payment_form %}
{# override with any payment-module specific needs #}
<form method="post" action=".">{% csrf_token %}
<input type="hidden" name="Process" value="True">
<input type="submit" value="{% trans "Поръчай" %}"/>
</form>
{% endblock %}

{% endblock content %}
