{% extends "shop/base.html" %}
{% load i18n %}

{% block content %}

{% if form.errors %}
<h2>{% blocktrans count form.errors|length as count %}Please correct the following error:{% plural %}Please correct the following errors:{% endblocktrans %}</h2>
{% if form.non_field_errors %}<p>
	{{ form.non_field_errors }}
</p>{% endif %}
{% endif %}

<form method="post" action=".">{% csrf_token %}
	<table>
		{% block payment_table %}
		{# put your payment module specific rows here.  For example, CC number. #}
		{% endblock %}

		{% if cart.is_shippable %}

		{% if form.shipping_hidden %}
		{{ form.shipping }}
	</table>
	{% else %}
	<tr><td><h4>{% trans "Shipping Information" %}</h4></td></tr>
</table>
{% block shipping_table %}
<div id="shipping">
	{% if form.shipping_description or form.shipping.field.choices|length_is:1 %}
	<label for="id_shipping">{% trans "The following shipping method will be used" %}:</label>
	{% else %}
	<label for="id_shipping">{% trans "Please choose your preferred shipping method" %}</label>
	{% endif %}
	{{ form.shipping }}
	{% if form.shipping_description %}<br/>{{ form.shipping_description }}{% endif %}
	{% if form.shipping.errors %}*** {{ form.shipping.errors|join:", " }}{% endif %}
</div>
{% endblock %}
<p>*{% trans 'Услугата се извършва при условие, че има магазин на La Casa del Habano и/или Premium Cigars&amp;Tobacco и наличност на поръчаните продукти на място.' %}<br />
	{% trans 'Това са градовете: София, Пловдив, Варна, Бургас, Стара Загора, Русе, Плевен, Велико Търново, Велинград, Благоевград, Банско.' %}
</p>
{% endif %}

{% else %}

<tr><td colspan="2"><h4>{% trans "There are no items in this order to ship." %}</h4></td></tr>
<tr><td colspan="2"> {{ form.shipping }} </td></tr>
		</table>

		{% endif %}

		{% if form.shipping.field.choices|length_is:0 and cart.is_shippable %}
		<h4>{% blocktrans %}No valid shipping method is available. Please verify that your address is correct.{% endblocktrans %}</h4>
		{% else %}
		<input type="submit" value="{% trans "Confirm" %}"/>
		{% endif %}
	</form>

	{% endblock %}
