{% extends "shop/base.html" %}
{% load i18n %}


{% block content %}
<h1>{% trans "Поръчка" %}</h1>

<p>{% trans "Вашата кошница е празна. Добавете продукти, за да направите поръчка." %} </p>

{% endblock %}
