{% extends "base.html" %}
{% load sections %}
{% load thumbnail %}
{% load youtube %}
{%block global_content %}
<div class="products_column float_l">
    <ul class="news_menu">
        {% list_sections %}
    </ul>
</div>
<div class="right_column right">
    <p class="breadcrumbs"> <a href="/">{% trans "Начало" %}</a> »
        <a href="/news">{% trans "Новини" %}</a> »
        <span><a href="{{ object.sections.all.0.get_absolute_url }}">{{ object.sections.all.0.title }}</a></span> »
        <span>{{ object.headline }}</span></p>
    <h1>{{ object.headline }}</h1>
    <div class="box">
        {% if object.photos.all %}
        <div class="pic-inn">
            <div class="nav"></div>
            <div id="item-pics">
                {% for p in object.photos.all %}
                <img src="{{ p.image.url }}" alt="{{p.caption}}"/>
                {% endfor %}
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                if($('#item-pics img').length < 2){
                    $('.nav').remove();
                }
            }
            );
        </script>
        {% endif %}
        <div class="txt-inn">
            <div class="date">{{ object.pub_date|date:"F j, Y" }}</div>
            {{ object.body|safe }}
        </div>
        <div class="youtube_container">{{ object.youtube|youtube_player }}</div>

        {% if object.documents.all %}
        <div class="documents">
            <h2>{% trans "Прикачени файлове" %}</h2>
            <ul>
                {% for doc in object.documents.all %}
                <li>
                    <a target="_blank" title="{{doc.title}}" href="{{doc.file.url}}">{{doc.title}}</a>
                    <br/>
                    <small>{{doc.summary}}</small>
                    {% endfor %}</li>
            </ul>
        </div>
        {% endif %}
    <div class="back-inn"><a href="{{ object.sections.all.0.get_absolute_url }}">« към всички публикации</a></div>
    </div>
</div>
{% endblock %}



