{% extends "base.html" %}
{% load youtube %}
{% load thumbnail i18n %}
{% block logo %}<img src="/static/images/big-images/news.jpg" alt="Kaliman caribe 1" class="section_image"/>{% endblock %}
{%block global_content %}
<div class="products_column float_l">
    <ul class="news_menu">
        {% for s in sections %}
        <li><a href="{{ s.get_absolute_url }}">{{ s.title }}</a></li>
        {% endfor %}
    </ul>

</div>
<p class="breadcrumbs"> <a href="/{{ LANGUAGE_CODE }}/">{% trans "Начало" %}</a> » <span>{% trans "Новини" %}</span></p>
<div class="w550 float_l">
	<h1 class="full">{% if section %}{{ section.title }}{% else %}{% trans 'Новини' %}{% endif %}</h1>

    {% if section.slug == "newsletter" %}
        {% regroup articles by uploaded.year as years %}
        {% for year in years %}
            <h2>{{ year.grouper }}</h2>

            {% for newsletter in year.list %}
            <div class="news">
                    <div class="title">{{ newsletter.name }}:&nbsp;
                    {% if newsletter.bg_file %}<a href="{{ newsletter.bg_file.url }}" target="_blank">BG</a>{% endif %}
                    {% if newsletter.en_file %}| <a href="{{ newsletter.en_file.url }}" target="_blank">EN</a>{% endif %}
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for article in articles %}
        <div class="news">
            {% thumbnail article.photos.all.0.image "100x400" as img %}
            <a href="{{ article.get_absolute_url }}" title="{{ article.headline }}"><img class="pic" src="{{ img.url }}" alt="{{ article.headline }}"/></a>
            {% endthumbnail %}
            <div class="title"><h2><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h2></div>
            <div class="date">{{ article.pub_date|date:"F j, Y" }}</div>
            <div class="desc-main">{{ article.summary|safe }}</div>
        </div>
        {% empty %}
        <p>{% trans 'Няма налични новини' %}</p>
        {% endfor %}
    {% endif %}

</div>
<div class="sidebar right">
    <h1>{% trans 'Прочети още' %}</h1>
    {% for article in featured %}
    <div class="news {% if not forloop.counter|divisibleby:2 %}dash_b{% endif %}">
        {% thumbnail article.photos.all.0.image "100x400" as img %}
        <a href="{{ article.get_absolute_url }}" title="{{ article.headline }}"><img class="pic" src="{{ img.url }}" alt="{{ article.headline }}"/></a>
        {% endthumbnail %}
        <div class="title"><h2><a href="{{ article.get_absolute_url }}" title="{{ article.headline }}">{{ article.headline }}</a></h2></div>
        <div class="date">{{ article.pub_date|date:"F j, Y" }} <span class="label">{{ article.sections.all.0 }}</span></div>
        <div class="desc-main">{{ article.summary|safe }}</div>
    </div>
    {% endfor %}
    <form action="/newsletter/subscribe/" method="post" name="searchbar" class="newsletter">
        {% csrf_token %}
        <label>{% trans 'Абонирайте се за<br /> Habanos Newsletter' %}</label><br />
        <input name="email" type="text" class="email" value="{% trans 'Въведете e-mail' %}" />
        <input name="submit" type="submit" class="submit" value=""/>
    </form>
</div><!--left_column-->

{% endblock %}
