{% extends "base.html" %}
{% block title %}{{ section.title }}{% endblock %}

{% block content %}
{% if section.slug == 'newsletter' %}
            <ul>
                {% for doc in newsletter_documents %}
                <li>
                    <a href="{{doc.file.url}}">{{doc.title}}</a>
                    <br/>
                    <small>{{doc.summary}}</small>
                    {% endfor %}</li>
            </ul>
{% else %}
{% for article in object_list %}
<p>{{ article.headline|upper }}</p>
<p>{{ article.body|truncatewords:50 }}<a href="{{ article.get_absolute_url }}"><br>more</a></p>
<p>{{ article.pub_date|date:"F j, Y" }}</p>
<p>{{ article.byline }}</p>
<br>
{% endfor %}
{% endif %}
{% endblock %}
