{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}
<h1>{% trans "Login" %}</h1>

{% if form.non_field_errors %}
<p class="error">{% for err in form.non_field_errors %}{{ err }}{% if not forloop.last %}<br/>{% endif %}
{% endfor %}</p>
{% endif %}

<form method="post" action=".">{% csrf_token %}
<table class="loginForm">
	<tr>
		<td><label for="id_username">{% trans 'Email address' %}:</label></td>
		<td>{{ form.username }}</td>
	</tr>
{% if form.username.errors %}
	<tr>
		<td>&nbsp;</td>
		<td class="error">***{{ form.username.errors|join:", " }}</td>
	</tr>
{% endif %}
	<tr>
		<td><label for="id_password">{% trans 'Password' %}:</label></td><td>{{ form.password }}</td>
	</tr>
{% if form.password.errors %}
	<tr>
		<td>&nbsp;</td>
		<td class="error">***{{ form.password.errors|join:", " }}</td>
	</tr>
{% endif %}
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" value="{% trans 'Login' %}" class="button"/></td>
	</tr>
</table>

<input type="hidden" name="next"
{% if next %}
    value={{ next }} />
{% else %}
     {% url satchmo_account_info as accounturl %}
     {% if accounturl %} value="{% url satchmo_account_info %}" /> {% endif %}
{% endif %}
</form>
<p>&nbsp;</p>
{% comment %} We jump through hoops with the urls so it doesn't bomb with django's built in unit tests.{% endcomment %}
{% url registration_register as registration_register %}
{% url auth_password_reset as auth_password_reset %}
{% if registration_register %}
    <p>{% trans "If you do not have an account, please" %} <a href="{% url registration_register %}">{% trans "click here" %}</a></p>
{% endif %}
{% if auth_password_reset %}
    <p>{% trans "If you do not remember your password, please" %} <a href="{% url auth_password_reset %}">{% trans "click here</a> to have it reset." %}</p>
{% endif %}
{% endblock %}
