{% extends "shop/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Newsletter Subscription" %}</h1>

<table>
<form method="post" action="{% url newsletter_subscribe %}">{% csrf_token %}
	<tr><td><label for="id_full_name">{% trans 'Your name' %}:</label></td><td>{{ form.full_name }}</td></tr>
	<tr><td><label for="id_email">{% trans 'Email address' %}:</label></td><td>{{ form.email }}</td></tr>
	{% if form.email.errors %}<tr><td>&nbsp;</td><td>*** {{ form.email.errors|join:", " }}</td></tr>{% endif %}
	<input type="hidden" value="on" name="subscribed"/>
	<tr><td></td><td><input type="submit" value="{% trans 'Subscribe' %}" class="buttonCreate"/></td></tr>
</form>
</table>
{% endblock %}
