{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}

    <h1>{% trans "Error 404" %}</h1>
    <h3>{% trans "Could not find the page you were looking for." %}</h3>

{% endblock %}
