﻿{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}
{% load sections %}
{% load localeurl_tags %}
{% block doctype %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	{% endblock %}
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="google-site-verification" content="M9PNRBTOx_ZibokftzDrmW8HWqr3y5nj2K42MXqbXRI" />
		<meta name="description" content="Kaliman Caribe - ексклузивен дистрибутор на престижните марки ръчно свити пури Habanos за България" />
		<meta name="keywords" content="Калиман Карибе, ексклузивен дистрибутор, тютюневи изделия, внос Куба, ритейлинг, Ла Каса, Премиум, магазини за пури, кубинска култура, ритуал Абанос, пура сомелиер, торседор,
		пура, пури, Хабанос, Абанос, кубински пури, кубинска пура, ръчни пури, ръчно свита пура, тютюн за пура, Ла Каса дел Абано, специално издание, лимитирано издание, регионално издание, Онли Ла Каса, травъл ритейл, Коиба, Кохиба, Монтекристо, Ромео и Жулиета, Партагас, Ойо, Хойо, Упман, Тринидад, Сан Кристобал, Вегас Робайна, Боливар, Рамон Айонес, Пънч, Куаба, Пор лараняга, Рафаел Гонзалес, Хосе Пиедра,машинни пури, Гуантанамера,Минис Кубанос, минис, клуб, пуритос,пурети, пурети с филтър, пурети без филтър, тип пурети, холандски пурети, швейцарски пури, Вилигер, Вилиджър, Аджио, Мехари, Мехарис, Пантер,лула, тютюн за лула, бленд, ароматизиран тютюн, привкус, аромат, Клан, Ларсен, Стануел, Алсбо, Еринмор, Колтс, Чойс, Амброзиа, 7 сийс, Велвет, Вирджиния, Бърлей, Черен кавендиш, Ориенталски, Кентъки,тютюн за цигари, рол, ролер, машинка за пълнене на цигари, листчета за навиване на цигари, Бали Шаг, Хоум Рол, Мак Барен, Унитас Екселент, Лексингтън, туби за цигари,цигари, ароматизирани цигари, Че, Блек Девил, Лексингтон,ром, кубински ром, Варадеро, силвър драй, 3-годишен, 7-годишен, Едмундо Дантес,кафе, кубинско кафе, Кубита,аксесоари за пушене, умидор, хумидор, хюмидор, кедър, кедров, дърво, капацитет пури, Адорини, Колибри, Ели Блу, Ламборгини, Ламборджини, Мишел Перно, Порше Дизайн, Сигло,запалка, запалка с насочен пламък, джет пламък, тлеещ пламък, дамска запалка, запалка за дама, запалка с пънч, запалка с резачка, илюминатор, Порше Дизайн, Тонино Ламборгини, Сароме, Сигло, Пиер Карден, Пиер Кардин, Касети, Зет плюс, Файърбърд, ВиФайър,резачка, резачка за пура, резачка с пънч, пънч, гилотина,пепелник, пепелник за пури,калъф за пури, пурера, овлажняваща туба,колекция, Коиба аниверсарио, Монтекристо Оро, Монтекристо Платеадо,подаръчни комплекти, подаръчен комплект с умидор, подаръчен комплект с пепелник, подаръчен комплект за лула,лули, лула с филтър, лула без филтър,аксесоари, колекции, химикал, сувенири, книги,куба гурме, коняк, Коиба Мартел,ваучер за подарък
		" />

		{% block stylesheet %}<link rel="stylesheet" href="{{ media_url }}css/style.css?version=20120217" />{% endblock %}

		<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="{{ media_url }}css/ie7.css">
		<![endif]-->

		<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/static/js/fancybox/jquery.fancybox-1.3.4.pack.js?version=20120117"></script>
		<script type="text/javascript" src="/static/js/jquery.pngFix.js"></script>
		<script type="text/javascript" src="/static/js/jquery.cycle.lite.min.js?version=20120117"></script>
		<script src="/static/js/jquery.validationEngine-bg.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/scripts.js?version=20120117"></script>
		{% block extra-head %}{% endblock %}

		<title>{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}{% endif %}{% endblock %}</title>
		{% plugin_point "page_head" %}
	</head>

	{% block body %}
	<body{% if bodyid %} id="{{ bodyid }}"{% endif %}{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
		{% plugin_point "page_top" %}
		<div id="wrapper">
			<div id="header">
				<a href="/{{ LANGUAGE_CODE }}/" class="logo"><span>{{ shop_name }}</span></a>

				<a onClick="_gaq.push(['_trackEvent', 'Habanos Sellos', 'Confirmation', 'Confimation of Genuineness of the product']);" href="http://www.habanos.com/sellos/" class="buttonAvtPuri" target="_blank"><img src="/static/images/checking-cigars-{{ LANGUAGE_CODE }}.gif" alt="проверка за автентичност на пурите"/></a>

				<div class="bucket">
					{% url satchmo_cart as carturl %}
					{% if carturl %}<a href="{{ carturl }}"><img src="/static/css/images/umidor.png" alt="your bucket"/></a>{% endif %}
					{% if user.is_authenticated %}
					{% url satchmo_account_info as accounturl %}
					{% if accounturl %}<a href="{{ accounturl }}" target="blank">{% trans "Account Details" %}</a> |{% endif %}
					<a href="/{{ LANGUAGE_CODE }}{{ logout_url }}?next={{request.path}}" class="">{% trans "Log out" %}</a>
					{% else %}
					<a href="/{{ LANGUAGE_CODE }}{{ login_url }}?next={{request.path}}" class="right">{% trans "Log in" %}</a>
					{% endif %}
					<br>
					<a href="{{ carturl }}">{% trans "Вашите покупки:" %} <span>{{ cart_count|normalize_decimal }}{% trans "бр." %}</span> / <span>{% if sale %}{{ cart|discount_cart_total:sale|currency }}{% else %}{{cart.total|currency}}{% endif%}</span></a>
				</div>
				<form action="/{{ LANGUAGE_CODE }}/search/" method="get" name="search" class="searchbar">
					<input name="keywords" type="text" class="search" placeholder="{% trans 'Търси в сайта' %}" />
					<input type="submit" class="submit" name="simple_search" value=" "/>
				</form>


			</div>
			{% block menu %}
			<div id="navigation">
				<ul class="menu">
					<li><a href="/{{ LANGUAGE_CODE }}/about">{% trans "За нас" %}</a></li>
					<li><a href="/{{ LANGUAGE_CODE }}/news">{% trans "Новини" %}</a>
						<ul class="sub">
							{% list_sections %}
						</ul>
					</li>
					<li><a href="/{{ LANGUAGE_CODE }}/category">{% trans "Продукти" %}</a>
						<ul class="sub">
							{% category_list as categories %}
							{% for cat in categories %}
							<li><a href="/{{ LANGUAGE_CODE }}/category/{{cat.slug}}">{{ cat.translated_name }}</a></li>
							{% endfor %}
							{% endcategory_list %}
						</ul>
					</li>
					<li><a href="/{{ LANGUAGE_CODE }}/services">{% trans "Услуги" %}</a></li>
					<li><a href="/{{ LANGUAGE_CODE }}/stores/">{% trans "Магазини" %}</a>
					</li>
					<li><a href="/{{ LANGUAGE_CODE }}/contact">{% trans "Контакти" %}</a></li>
				</ul>
				<ul class="lang">
					<li><a href="/en/{{ request.get_full_path|slice:"4:" }}">En</a></li>
					<li><a href="/bg/{{ request.get_full_path|slice:"4:" }}">Bg</a></li>
				</ul>
			</div>
			{% endblock %}
			<div class="clear"></div>
			{% if request.path_info == '/' %}
			<div id="slider">
				<div class="nav">&nbsp;</div>
				<div id="slide-items">
					<img src="/static/css/images/slide3.jpg" alt="Kaliman caribe 3" id="slide3" />
					<img src="/static/css/images/slide1.jpg" alt="Kaliman caribe 1" id="slide1" />
					<img src="/static/css/images/slide2.jpg" alt="Kaliman caribe 2" id="slide2" />
					<img src="/static/css/images/slide4.jpg" alt="Kaliman caribe 4" id="slide4" />
					<img src="/static/css/images/slide5.jpg" alt="Kaliman caribe 5" id="slide5" />
				</div>
			</div>
			{% else %}
			{% block logo %}<img src="/static/images/big-images/products.jpg" alt="Kaliman caribe 1" class="section_image"/>{% endblock %}
			{% endif %}

			<div id="content">
				{% block global_content %}
				<div class="products_column float_l">
					{% block sidebar-secondary %}
					<!--div>
					{% satchmo_search_form %}
					</div-->
					<div>
						{% block sidebar %}
						<!--h3>{% trans "Shop Categories" %}</h3-->
						{% block sidebar-categories %}
						<div id="menu_container">
							{% if category.id %}
							{% category_tree category.id %}
							{% else %}
							{% if product.get_category %}
							{% category_tree product.get_category.id %}
							{% else %}
							{% category_tree %}
							{% endif %}
							{% endif %}
						</div>
						{% endblock sidebar-categories %}

						{% block sidebar-secondary-bottom %}
						{% plugin_point "sidebar_secondary_bottom" %}
						{% endblock %}
						{% endblock sidebar %}
					</div>
					{% endblock sidebar-secondary %}
				</div>



				<div class="right_column left">

					{% block content %} {% endblock %}

					<div id="sidebar-primary" class="products_column right">{# rightnav #}
						{% block sidebar-primary %}

						{% plugin_point "shop_sidebar_actions" %}
						{% block related_products %}
						{% endblock %}

						{% block sidebar-primary-bottom %}
						{% plugin_point "shop_sidebar_primary" %}
						{% endblock %}
						{% endblock sidebar-primary %}
					</div>
				</div>
				{% endblock %}
			</div>
			<div id="footer">
				{% block footer %}
				{% endblock %}
				<div class="left">
					&copy; {% now "Y" %} Kaliman Caribe Ltd.&nbsp; | &nbsp;<a style="color: #312514;text-decoration: none;" href="/{{ LANGUAGE_CODE }}/terms/">{% trans "Общи условия" %}</a>
				</div>
				<ul class="right">
					<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Начало" %}</a></li>
					<li><a href="/{{ LANGUAGE_CODE }}/about/">{% trans "За нас" %}</a></li>
					<li><a href="/{{ LANGUAGE_CODE }}/news/">{% trans "Новини" %}</a></li>
					<li><a href="/{{ LANGUAGE_CODE }}/category/">{% trans "Продукти" %}</a></li>
					<li><a href="/{{ LANGUAGE_CODE }}/services/">{% trans "Услуги" %}</a></li>
					<li><a href="/{{ LANGUAGE_CODE }}/stores/">{% trans "Магазини" %}</a></li>
					<li class="last"><a href="/{{ LANGUAGE_CODE }}/contact/">{% trans "Контакти" %}</a></li>
					<li class="last">
						<a href="http://www.facebook.com/profile.php?id=100003045859506" target="_blank"><img src="/static/images/facebook.png" alt="facebook" /></a>
					</li>
				</ul>
				<br/>
					<br/>
					<ul class="right other_sites">
						<li><a href="http://bolivar681.com/" target="_blank" title="Bolivar 681">Bolivar 681</a></li>
						<li class="last"><a href="http://www.habanos.com/" target="_blank" title="Habanos S.A.">Habanos S.A.</a></li>
					</ul>

				</div>

			</div>
			{% block page-close %}
			{% block google-tracker %}
			{% if shop.options.GOOGLE.ANALYTICS.value %}
			{% show_tracker is_secure %}
			{% endif %}
			{% endblock %}
			{% endblock %}

			<script type="text/javascript">

				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-28979280-1']);
				_gaq.push(['_trackPageview']);

				(function() {
				 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				 })();

</script>

		</body>
		{% endblock %}
