{# this text is placed by the satchmo_order template tag "order_tracking_details" #}
{% load i18n %}
{% load satchmo_currency %}
{% load satchmo_checkout %}
{% load satchmo_util normalize_decimal %}

<div class="orderdetails">
<h4>{% trans 'Order #' %} {{ order.id }}</h4>

<h4>{% trans "Поръчани продукти" %}</h4>
{% for item in order.orderitem_set.all %}
{{ item }} - {{item.unit_price|currency}} x {{item.quantity|normalize_decimal}}{% if item.discount %} - {{ item.discount|currency }}{% endif %} = {{item.sub_total|currency}}<br/>
{% endfor %}

{# {% if order.shipping_method %} #}
<br />

<h4>{% trans "Total" %}</h4>
{% if order.discount %}
    {% trans "Discount" %} - {{order.discount|currency}}<br/>
{% endif %}
{# {% if order.is_shippable %} {% trans "Shipping" %} + {{order.shipping_sub_total|currency}}<br/> {% endif %} #}
{# {% if order.tax %} #}
{#     {% trans "Tax" %} + {{order.tax|currency}}<br/> #}
{# {% endif %} #}
{% trans "Total" %} = {{order.total|currency}}<br/>

{#  #}
{# {% if order.is_shippable %} #}
{# <h4>{% trans "Shipping To" %}</h4> #}
{# {{ order.full_ship_street }}<br/> #}
{# {{ order.ship_city }}<br/> #}
{# {{ order.ship_state }}<br/> #}
{# {{ order.ship_postal_code }}<br/> #}
{# {{ order.ship_country_name|title }}<br/> #}
{# {% endif %} #}
<p>{% trans "Наш представител ще се свърже с Вас, за уточняване на доставката" %}</p>
</div>

