{% extends "shop/base.html" %}
{% load i18n %}
{% load satchmo_cart %}
{% load satchmo_currency %}
{% load satchmo_util %}
{% load satchmo_product %}
{% load satchmo_discounts %}
{% load normalize_decimal %}
{% load thumbnail %}

{% block navbar %}
    <li class="first"><a href="{{shop_base}}/">{% trans "Home" %}</a></li>
    <li>{% trans "Cart" %}</li>
{% endblock %}

{% block content %}

{% if error_message %}
<div class="error">{{ error_message }}</div>
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if not cart|length %}
    <h1>{% trans "No Orders" %}</h1>
{% else %}
    <h1>{% trans "Your Order" %}</h1>
	<!--p><em>{% trans 'List of products in your order' %}</em></p-->
	<br/>
    <table class="order_product" cellpadding="0" cellspacing="0">
		<tr>
			<th align="left">{% trans "Product" %}</th>
			<th>{% trans "Quantity" %}</th>
		{% if sale %}
			<th>{% trans "Regular Price" %}</th>
			<th>{% trans "Sale Price" %}
		{% else %}
			<th>{% trans "Price" %}</th>
		{% endif %}
			<th align="center">{% if default_view_tax %}{% trans "Total<br/>(incl.&nbsp;tax)" %}{% else %}{% trans "Total" %}{% endif %}</th>
			<th>&nbsp;</th>
		</tr>

    {% for cartitem in cart %}
        <tr><td>
             {% thumbnail cartitem.product.main_image.picture "100x50" as image %}
            <img src="{{ image.url }}" alt="{{ cartitem.description }}"/>
             {% endthumbnail %}
                <a href="{{cartitem.product.get_absolute_url}}">{{ cartitem.description }}</a></td>
            <td align="center">
                <form class="qtyform" id="form-{{ cartitem.id }}" action="{% url satchmo_cart_set_qty %}" method="post">{% csrf_token %}
                    <input type="hidden" name="cartitem" value="{{ cartitem.id }}" />
					<input type="text" name="quantity" class="quantity" id="id_quantity" value="{{ cartitem.quantity|normalize_decimal }}" /><br/>
                    <input type="submit" id="id_update_submit" value=" {% trans 'update' %}" class="update" />
                </form>
            </td>

			{% if sale %}<td align="center">{{ cartitem.unit_price|currency }}</td>{% endif %}
            <td align="center">{{ cartitem|discount_line_unit_price:sale|currency }}</td>
			<td align="center">{{ cartitem|discount_line_total:sale|currency }}</td>

			
			<td>
				<form action="{% url satchmo_cart_remove %}" method="post">{% csrf_token %}
					<input type="hidden" name="cartitem" value="{{ cartitem.id }}" />
					<input type="submit" value="{% trans 'Remove' %}" class="remove" />
				</form>
            </td>
			
        </tr>
		{% cartitem_custom_details cartitem %}
		{% cartitem_subscription_details cartitem %}
    {% endfor %}
    <tr>
		<td colspan="{% if sale %}5{% else %}4{% endif %}" align="right">{% trans "Cart Total" %}:</td>
        <td>{{ cart|discount_cart_total:sale|currency }}</td></tr>
    </table>
    {% if sale %}
	{% include "product/some_discount_eligible.html" %}
	{% endif %}
	
    <a href="/category">{% trans "Продължи с пазаруването" %}</a>
	<a href="{% url satchmo_checkout-step1 %}" class="order_now order_inner"><span>{% trans "order" %}</span></a>
{% endif %}
{% endblock %}
