{% extends "shop/base.html" %}
{% load i18n %}

{% block logo %}<img src="/static/images/big-images/products.gif" alt="Kaliman caribe 1" class="section_image"/>{% endblock %}
{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
<li>{% trans "Contact Us" %}</li>
{% endblock %}

{% block global_content %}
<h1>{% trans "Контакти" %}</h1>

{% if form.errors %}
<h3>{% trans "Моля, попълнете коректно всички полета" %}</h3>
{% endif %}

<div class="left">
	<div class="box">
		<form class="form" method="post" action=".">{% csrf_token %}
			<label for="name">{% trans "Име" %}</label>
			<input name="name" type="text" class="validate[required] text" id="name"/>
			<label for="sender">{% trans "Email адрес" %}</label>
			<input name="sender" type="text" class="validate[required,custom[email]] text" id="mail"/>
			<label for="subject">{% trans "Заглавие" %}</label>
			<input name="subject" type="text" class="text" id="subject"/>
			<label>{% trans "Съдържание" %}</label>
			<textarea name="contents" cols="" rows="" class="validate[required] textarea" id="message"></textarea>
			<input name="submit" type="submit" class="submit" value="{% trans 'изпрати' %}"/>
		</form> 
	</div>  
</div>
<div class="right">
	<div class="box" style="padding-left:120px">
		<h2>{% trans "Свържете се с консултант от „Калиман Карибе” относно:" %}</h2>
		<ul>
			<li>- {% trans 'въпроси за продукти' %}</li>
			<li>- {% trans 'вашата поръчка' %}</li>
			<li>- {% trans 'включване във ваше събитие' %}</li>
			<li>- {% trans 'консултация при избор на подарък' %}</li>
			<li>- {% trans 'бизнес сътрудничество' %}</li>
		</ul>
		<br/>
		<h2>{% trans "Калиман Карибе ООД" %}</h2>
		<p>
			{% trans 'Бул. България No.118, Бизнес център Abacus' %}<br />
			{% trans '1618 София, България' %}<br />
			{% trans 'тел.' %}: 02/ 953 11 80, 951 59 87<br />
			{% trans 'факс' %}: 02/ 953 26 22<br />
			{% trans 'Email за поръчки и консултация' %}: <a href="mailto:contact@kaliman.bg">contact@kaliman.bg</a><br /> 
			{% trans 'Email за корпоративни контакти' %}: <a href="mailto:kcaribe@kaliman.bg">kcaribe@kaliman.bg</a>     
		</p>
	</div>
</div>
{% endblock %}
