{% extends "base.html" %}
{% load i18n %}
{% load youtube %}
{% load thumbnail %}
{% load satchmo_util satchmo_discounts satchmo_currency %}
{% block global_content %}
<div class="left">
	<h1>{% trans "Последни новини" %} <a href="/{{ LANGUAGE_CODE }}/news" class="all" title="Всички новини в Kaliman Caribe">{% trans "Всички новини" %}</a></h1>
	<form action="/{{ LANGUAGE_CODE }}/newsletter/subscribe/" method="post" name="searchbar" class="newsletter">
		{% csrf_token %}
		<label>{% trans 'Абонирайте се за Habanos Newsletter' %} &nbsp; </label>
		<input name="email" type="text" class="email" placeholder="{% trans 'Напиши своя E-mail' %}" />
		<input name="submit" type="submit" class="submit" value=" "/>
	</form>
	{% for article in articles %}
	<div class="news">
		{% thumbnail article.photos.all.0.image "100x400" as img %}
		<a href="{{ article.get_absolute_url }}"><img class="pic" src="{{ img.url }}" alt="{{ article.headline }}" /></a>
		{% endthumbnail %}
		<div class="title"><h2><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h2></div>
		<div class="date">{{ article.pub_date|date:"F j, Y" }}</div>
		<div class="desc-main">{{ article.summary|safe }}</div>
	</div>
	{% empty %}
	<p>{% trans "Няма налични новини" %}</p>
	{% endfor %}
</div>
<div class="right">
	<h1>{% trans 'Акценти' %}</h1>
	<div style="padding:5px; background: #120e09; border:2px solid #95774C;">
		{% for product in all_products_list %}
		<div class = "products">
			{% if product.main_image %}
			{% thumbnail product.main_image.picture "128x90" as image %}
			<a href="{{ product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ product.translated_name }}" /></a>
			{% endthumbnail %}
			{% endif %}

			<div class="title-main"><h2><a href="{{ product.get_absolute_url }}" title="{{ product.translated_name }}">{{ product.translated_name }}</a></h2></div>
			<div class="date">{% trans "Price" %}: {{ product|discount_price:""|currency }}</div>
			<div class="desc-main"><a href="{{ product.get_absolute_url }}" onclick="return false;">{{ product.translated_short_description|truncatewords:32|safe }}</a></div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="clear"></div>
<div class="left">
	<h1>{% trans "Къде да купя" %}</h1>
	{% for store in random_buy_stores %}
	<div class="news">
		{% thumbnail store.photo "178x118" as image %}
		<img src="{{ image.url }}" class="pic" alt="picture"/>
		{% endthumbnail %}
		<div class="desc-main">
			<h3>{{ store.name }}</h3>
			<p>{{ store.city }}<br/>
										<pre>{{ store.description }}</pre>
		</p>
	</div>
</div>
{% endfor %}
</div>
<div class="right">
	<h1>{% trans "Къде да пуша" %} <a href="/{{ LANGUAGE_CODE }}/stores" class="all" title="Всички продукти в Kaliman Caribe">{% trans "Всички магазини" %}</a></h1>
	{% for store in random_smoke_stores %}
	<div class="news">
		{% thumbnail store.photo "178x118" as image %}
		<img src="{{ image.url }}" class="pic" alt="picture"/>
		{% endthumbnail %}
		<div class="desc-main">
			<h3>{{ store.name }}</h3>
			<p>{{ store.city }}<br/>
										<pre>{{ store.description }}</pre>
		</p>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}
