{% extends "shop/base.html" %}
{% load i18n %}
{% load satchmo_currency satchmo_discounts %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}
<h1>{% trans 'Advanced Search' %}</h1>
<form action="/{{ LANGUAGE_CODE }}/search/" method="get" name="search" class="advancedSearch">
    {{ form.keywords }}
    <table>
        <tr>
            <td>
                <fieldset>
                    <legend>{% trans "Единична Цена" %}</legend>
                    <ul>
                        {{ form.price }}
                    </ul>
                </fieldset>
            </td>
            <td>
                <fieldset>
                    <legend>{% trans "Ринг" %}</legend>
                    <ul>
                        {{ form.ring }}
                    </ul>
                </fieldset>
            </td>
            <td>
                <fieldset>
                    <legend>{% trans "Дължина" %}</legend>
                    <ul>
                        {{ form.length }}
                    </ul>
                </fieldset>
            </td>
            <td>
                <fieldset>
                    <legend>{% trans "Сила" %}</legend>
                    <ul>
                        {{ form.strength }}
                    </ul>
                </fieldset>
            </td>
        </tr>
    </table>
		<input type="submit" name="advanced_search" value="{% trans 'Търси' %}" class="button" />
</form>

{% if not results.categories and not results.products %}
    {% if keywords %}
        <h1>{% trans "Nothing found" %}</h1>
    {% endif %}
{% else %}
	{% if category %}{% with results.categories.0.translated_name as category_name %}
		<h1>{% blocktrans %}Search results for {{ category_name }} products{% endblocktrans %}</h1>
	{% endwith %}
	{% else %}
	 	{% if results.categories %}
			<h1>{% trans "Categories" %}</h1>
			<ul>
		    {% for category in results.categories %}
		        {% ifchanged %}<li><a href="{{ category.get_absolute_url }}">{{ category.translated_name }}</a></li>{% endifchanged %}
		    {% endfor %}
			</ul>
		{% endif %}
	{% endif %}
	{% if results.products %}
		{% if not category %}
        <h1>{% trans "Products" %}</h1>
		{% endif %}
		<ul>
		{% for product in results.products %}
	        <li><a href="{{ product.get_absolute_url }}">{{ product.translated_name }}</a> {% trans "for" %} {{ product|discount_price:sale|currency}}</li>
	    {% endfor %}
		</ul>
	{% else %}
		{% if category %}
			<p>{% trans "Nothing found" %}</p>
		{% endif %}
	{% endif %}
{% endif %}
{% endblock %}
