{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
   <li>{% trans "Newsletter Unsubscribe" %}</li>
{% endblock %}

{% block content %}
<h3>{% trans "Newsletter Unsubscribe" %}</h3>

{% if form.errors %}
<h3>{% trans 'Please correct the following error' %}:</h3>
{% endif %}

<form method="post" action="{% url newsletter_unsubscribe %}">{% csrf_token %}
	<table>
	<tr><td><label for="id_full_name">{% trans 'Your name' %}:</label></td><td>{{ form.full_name }}</td></tr>
	{% if form.full_name.errors %}<tr><td>&nbsp;</td><td>*** {{ form.full_name.errors|join:", " }}</td></tr>{% endif %}
	<tr><td><label for="id_email">{% trans 'Email address' %}:</label></td><td>{{ form.email }}</td></tr>
	{% if form.email.errors %}<tr><td>&nbsp;</td><td>*** {{ form.email.errors|join:", " }}</td></tr>{% endif %}
	<tr><td></td><td><input type="submit" value="{% trans "Remove Me" %}" class="buttonCreate" /></td></tr>
	<input type="hidden" value="off" name="subscribed"/>
	</table>
</form>
<div style="clear:both;"/>
{% endblock %}
