* {
padding:0;
margin:0;
outline:0;
}

html, body {
background:#000000 url("images/bodybgr.png") no-repeat center top;
font:12px Tahoma, Geneva, sans-serif;
/*color:#a78763;*/
color:#886339;
}

#wrapper {
width:986px;
margin:0 auto;
overflow:hidden;
}

ul {
list-style-type:none;		
}

img {
border-style:none;	
}

h1, h2 {
font-family:Verdana, Geneva, sans-serif;	
}

h2 {
font-size:16px;
font-weight: normal;
}

h2 a{text-decoration: none;}
h2 a:hover{text-decoration: underline;}

h3 {
font-weight:bold;
font-size: 12px;	
}

h4 {
font-size:12px;	
}

p {
padding:5px 0px 5px 0px;	
}

.clear {
clear:both;	
}

a{color:#F8DAAF;}
a.all{
	position: absolute;
	right:0;
	bottom: 10px;
	font:11px Tahoma, Geneva, sans-serif;
	text-transform: none;
	}