#footer {
overflow:auto;
background:#917349;
padding:16px 16px 40px 16px;
color:#312514;
font:11px Tahoma, Geneva, sans-serif;	
}

#footer .left {
float:left;	
}

#footer .right {
float:right;	
}

#footer .right li {
float:left;
padding:0 8px;
border-right: 1px solid #312514;
}

#footer .right li.last {
border:none;
padding-right:0;
}

#footer .right li a:link, #footer .right li a:visited {
color:#312514;
text-decoration:none;	
}

#footer .right li a:hover, #footer .right li a.active {
text-decoration:underline;		
}

.other_sites li{padding:0 8px; border-right: 1px solid #d5bb64 !important;}
.other_sites li.last{padding-right:0; border-right:none !important;}
.other_sites li a{color: #d5bb64 !important;}

.buttonAvtPuri{
	position:absolute;
	display: block;
	top:11px;
	left: 360px;
	}