#header {
overflow:hidden;
margin:0 2px 0 2px;
position: relative;
}

#header .logo {
float:left;
background:url("images/the-logo.png") no-repeat top left;
width:242px;
height:31px;
margin-top:50px;
}

#header .logo span{display: none;}

#header .bucket{
	width: 310px;
	line-height:18px;
	position:absolute;
	top: 20px;
	right:10px;
	}
#header .bucket img{float:left; margin:0 10px 5px 5px;}
#header .bucket a{text-decoration:none;}
.searchbar{
	float:right;
	margin-top:60px;
	}
.searchbar a{text-decoration: none;}
.searchbar input.search{
		background:#090909;
		color:#896f56;
		border:1px solid #5E472A;
		font-size:11px;
		width:283px;
		height:18px;
		float:left;
		margin:5px 0 5px 0;
		padding-left:5px;
		}
.searchbar input.submit {
		background:url("images/search-btn.png") no-repeat top left;
		margin:5px 0 0 5px;
		border:0;
		width:27px;
		height:20px;

		}
.newsletter {margin-top:3px; padding:10px; border:1px solid #291F13; background:url("/static/images/items-hover.png") repeat-y top left; overflow:hidden;}
.newsletter.product_price{position:relative; margin-top:3px; padding:10px; border:1px solid #291F13; background:url("/static/images/items-hover.png") repeat-y top left; overflow:hidden;}

.newsletter.product_price select{width:70px;}
.solid_b{ border-bottom:1px solid #5E472A;}
.newsletter label{line-height:20px; font-weight: bold; float: left;}
.newsletter input.email{
background:#090909;
color:#896f56;
border:1px solid #5E472A;
font-size:11px;
height:18px;
float:left;
margin:0 0 0 0;
padding-left:5px;
}
.left .newsletter input.email{width:125px;}
.sidebar .newsletter input.email{width:150px;}
.newsletter input.submit {
background:url("images/submit-btn.png") no-repeat top left;
margin:0 0 0 5px;
border:0;
width:27px;
height:20px;
}
