#navigation {
position:relative;
z-index:10;
width:100%;
height:47px;
background: url("images/nav-bgr.png") no-repeat center bottom;
text-transform:uppercase;
font:bold 11px Verdana, Geneva, sans-serif;
margin:5px 0px 0 0px;	
}

/* Main menu */

#navigation .menu {
float:left;
padding:20px 0 0 2px;	
}

.menu li{
float:left;
position:relative;
}

.menu li a:link, .menu li a:visited{
color:#f8daaf;
padding:8px 15px 5px 15px;
text-decoration:none;	
}

.menu li a:hover, .menu li a.active{
background:url("images/menu-hover.png") repeat-x top left;
}

.menu li ul.sub{
display:none;
position:absolute;
z-index:1000;
top: 18px;
left: -3px;
/*background:url("images/submenu-bgr.png") no-repeat bottom left;*/
background:#000;
padding:0 10px 7px 10px;
font:bold 9px Verdana, Geneva, sans-serif;	
}

ul.menu li ul.sub li{
float:none;
padding:7px 0 7px 3px;
position: relative;
background:url("images/sub-spacer.png") no-repeat top left;
min-width:180px;	
}

ul.menu li ul.sub li a:link, ul.menu li ul.sub li a:visited{
background:none;
padding:0px 0px 0px 5px;	
}

ul.menu li ul.sub li a:hover{
color:#fff;	
}

/* End Main menu */

/* Language menu */

#navigation .lang {
float:right;
padding:20px 2px 0 0;		
}

.lang li {
float:left;	
}

.lang li a:link, .lang li a:visited{
color:#f8daaf;
padding:8px 7px 5px 7px;
text-decoration:none;
}

.lang li a:hover, .lang li a.active{
background:#95774c;
}

/* End Language menu */