#navigation {
position:relative;
z-index:10;
width:100%;
height:47px;
background: url("images/nav-bgr.png") no-repeat center bottom;
text-transform:uppercase;
font:bold 11px Verdana, Geneva, sans-serif;
margin:5px 0px 0 0px;	
}

/* Main menu */

#navigation .menu {
float:left;
padding:20px 0 0 2px;	
}

.menu ul{
float:left;
position:relative;
text-align:center;
}

.menu li{
display:block;
position:relative;
}

.menu li a:link, .menu li a:visited{
color:#f8daaf;
padding:8px 15px 5px 15px;
text-decoration:none;	
}

.menu li a:hover, .menu li a.active{
background:#000000;	
}

.menu ul li.sub{
display:none;
background:url("images/submenu-bgr.png") no-repeat bottom left;
padding:10px 10px 7px 10px;	
}

.menu ul li.sub a:link, .menu ul li.sub a:visited{
background:none;
padding:0px 0px 0px 0px;	
}

.menu ul li.sub a:hover{
color:#FFFFFF;	
}

/* End Main menu */

/* Language menu */

#navigation .lang {
float:right;
padding:20px 2px 0 0;		
}

.lang li {
float:left;	
}

.lang li a:link, .lang li a:visited{
color:#f8daaf;
padding:8px 7px 5px 7px;
text-decoration:none;
}

.lang li a:hover, .lang li a.active{
background:#95774c;
}

/* End Language menu */