#slider {
border:1px solid #95774C;
width:980px;
height:300px;
margin:5px 2px 10px 2px;
position:relative;
z-index:5;	
}

#slider .nav {
position:absolute;
width:28px;
height:300px;
bottom:0;
right:0;
background:url("/static/images/slide-nav.png") no-repeat top left;
z-index:10;
}

#slider .nav-inner {
position:absolute;
bottom:2px;
right:7px;
z-index:11;
}

#slider .nav-inner a { border: none; background:url("/static/images/nav-btn.png") no-repeat top left; text-decoration: none; margin: 5px 0 5px 0; display:block}
#slider .nav-inner a.activeSlide { background:url("/static/images/nav-btn-active.png") no-repeat top left; }
#slider .nav-inner a:focus { outline: none; }

/*#slider .nav ul li {
padding:2px;	
}

#slider .nav ul li a:link, #slider .nav ul li a:visible{
width:13px;
height:13px;
background:url("/static/images/nav-btn.png") no-repeat top left;	
}

#slider .nav ul li a:hover, #slider .nav ul li a.active{
width:13px;
height:13px;
background:url("/static/images/nav-btn-active.png") no-repeat top left;	
}*/
