{% extends "base.html" %}
{% load thumbnail %}
{% block logo %}<img src="/static/images/big-images/shops.jpg" alt="Kaliman caribe 1" class="section_image"/>{% endblock %}
{%block global_content %}
<p class="breadcrumbs"> <a href="/{{ LANGUAGE_CODE }}/">{% trans "Начало" %}</a> » <a href="/{{ LANGUAGE_CODE }}/stores/">{% trans "Магазини" %}</a></p>
<div class="products_column left">
    <h1>{% trans "Къде да пуша" %}</h1>
    <ul class="news_menu">
        {% for country, cities in sections.can_smoke.items %}
        <li>
            <strong class="fz14">{{ country }}</strong>
            <ul class="news_menu_inner">
                {% for city in cities %}
                <li><a href="/{{ LANGUAGE_CODE }}/stores/can_smoke/{{city.id}}">{{city.name}}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </li>
    </ul>
    <h1>{% trans "Къде да купя" %}</h1>
    <ul class="news_menu">
        {% for country, cities in sections.can_buy.items %}
        <li>
            <strong class="fz14">{{ country }}</strong>
            <ul class="news_menu_inner">
                {% for city in cities %}
                <li><a href="/{{ LANGUAGE_CODE }}/stores/can_buy/{{city.id}}">{{city.name}}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </li>
    </ul>
</div>
<div class="right_column right">
    {% block head_info %}{% endblock %}
    {% block stores_list %}
    {% if city_name %}
        <h1>{{ city_name }}</h1>
    {% endif %}
    {% for store in stores %}
    <div class="news">
        {% thumbnail store.photo "178x118" as image %}
        <img src="{{ image.url }}" class="pic" alt="{{ store.name }}"/>
        {% endthumbnail %}
        <div class="desc-main">
            <h3>{{ store.name }}</h3>
            <p>{{ store.city }}<br/>
                <pre>{{ store.description }}</pre>
            {% if store.address_link %}<a href="{{ store.address_link}}" target="_blank">{% trans "Виж на картата" %}</a>{% endif %}
        </p>
    </div>
</div>
{% endfor %}
{% endblock stores_list%}
</div>
{% endblock %}
