{% extends "places/index.html" %}
{% block head_info %}
<h1>{% trans "Магазини" %}</h1>
<p><img src="/static/images/shops/shops-{{ LANGUAGE_CODE }}.png" alt="Kaliman Caribe in Bulgaria" usemap="#bulgaria" id="bg-map" /></p>
<map id="bg-map" name="bulgaria">
    <area shape="rect" coords="100,161,176,231" href="/{{ LANGUAGE_CODE }}/stores/can_buy/1" alt="Sofia" title="Sofia"    />
    <area shape="rect" coords="222,245,290,298" href="/{{ LANGUAGE_CODE }}/stores/can_buy/6" alt="Plovdiv" title="Plovdiv"    />
    <area shape="rect" coords="54,344,144,376" href="/{{ LANGUAGE_CODE }}/stores/can_buy/2" alt="Bansko" title="Bansko"    />
    <area shape="rect" coords="60,306,150,338" href="/{{ LANGUAGE_CODE }}/stores/can_buy/5" alt="Blagoevgrad" title="Blagoevgrad"    />
    <area shape="rect" coords="149,283,217,315" href="/{{ LANGUAGE_CODE }}/stores/can_buy/10" alt="Velingrad" title="Velingrad"    />
    <area shape="rect" coords="299,203,367,252" href="/{{ LANGUAGE_CODE }}/stores/can_buy/7" alt="St.Zagora" title="St.Zagora"    />
    <area shape="rect" coords="376,40,444,81" href="/{{ LANGUAGE_CODE }}/stores/can_buy/9" alt="Ruse" title="Ruse"    />
    <area shape="rect" coords="216,109,299,150" href="/{{ LANGUAGE_CODE }}/stores/can_buy/8" alt="Pleven" title="Pleven"    />
    <area shape="rect" coords="240,179,360,150" href="/{{ LANGUAGE_CODE }}/stores/can_buy/11" alt="VelikoTarnovo" title="VelikoTarnovo"    />
    <area shape="rect" coords="498,148,563,181" href="/{{ LANGUAGE_CODE }}/stores/can_buy/3" alt="Varna" title="Varna"    />
    <area shape="rect" coords="473,219,538,259" href="/{{ LANGUAGE_CODE }}/stores/can_buy/4" alt="Burgas" title="Burgas"    />
</map>
{% endblock %}

