{% load i18n %}

{% block billing-info %}
    <tr><td colspan="2"><h4>{% trans "Billing Information" %}</h4></td></tr>

    <tr style="display:none"><td><label for="id_addressee">{% trans "Bill To" %}</label><p class="help">{% trans "If different from the first and last names above" %}</p></td><td> {{ form.addressee }}</td></tr>
    {% if form.addressee.errors %}<tr><td class="error" colspan="2">*** {{ form.addressee.errors|join:", "}}</td></tr>{% endif %}

    <tr><td><label for="id_street1">{% trans "Street" %}{% if form.street1.field.required %}{% endif %}</label></td><td> {{ form.street1 }}</td></tr>
    {% if form.street1.errors %}<tr><td class="error" colspan="2">*** {{ form.street1.errors|join:", " }}</td></tr>{% endif %}

    <tr><td><label for="id_city">{% trans "City" %}{% if form.city.field.required %}{% endif %}</label></td><td> {{ form.city }}</td></tr>
    {% if form.city.errors %}<tr><td class="error" colspan="2">*** {{ form.city.errors|join:", " }}</td></tr>{% endif %}

    {% if country %}
      {% if form.fields.state.choices %}
      <tr>
        <td><label for="id_state">{% if country.get_admin_area_display %}{{ country.get_admin_area_display }}{% else %}{% trans "State/Province" %}{% endif %} {% if form.state.field.required %}{% endif %}</label></td>
        <td><p id="id_state_loading" style="display: none">Loading...</p> {{ form.state }}</td>
      </tr>
      {% endif %}
    {% else %}
      <tr>
        <td><label for="id_state">{% trans "State/Province" %} {% if form.state.field.required %}{% endif %}</label></td>
        <td><p id="id_state_loading" style="display: none">Loading...</p> {{ form.state }}</td>
      </tr>
    {% endif %}
    {% if form.state.errors %}<tr><td class="error" colspan="2">*** {{ form.state.errors|join:", " }}</td></tr>{% endif %}

    <tr><td><label for="id_postal_code">{% trans "Zipcode/Postcode" %}{% if form.postal_code.field.required %}{% endif %}</label></td><td> {{ form.postal_code }}</td></tr>
    {% if form.postal_code.errors %}<tr><td class="error" colspan="2">*** {{ form.postal_code.errors|join:", " }}</td></tr>{% endif %}

    {% if not country %}
    <tr><td><label for="id_country">{% trans "Country" %}</label></td><td> {{ form.country }}</td></tr>
    {% if form.country.errors %}<tr><td class="error" colspan="2">*** {{ form.country.errors|join:", " }}</td></tr>{% endif %}
    {% endif %}

    <tr>
        <td><label for="id_want_invoice">{% trans "I would like an invoice" %}</label></td>
        <td>{{ form.want_invoice }}</td>
    </tr>
    <tr class="invoice_fields">
        <td><label for="id_company_name">{% trans "Company Name" %}</label></td>
        <td>{{ form.company_name }}</td>
    </tr>
    <tr class="invoice_fields">
        <td><label for="id_company_eik">{% trans "Company Eik" %}</label></td>
        <td>{{ form.company_eik }}</td>
    </tr>
    <tr class="invoice_fields">
        <td><label for="id_company_address">{% trans "Company Address" %}</label></td>
        <td>{{ form.company_address }}</td>
    </tr>
    <tr class="invoice_fields">
        <td><label for="id_company_mol">{% trans "Company Mol" %}</label></td>
        <td>{{ form.company_mol }}</td>
    </tr>
    <script type="text/javascript">
        $('#id_want_invoice').change(function(){
            if($(this).is(':checked')){
                $('.invoice_fields').show(500);
            }
            else{
                $('.invoice_fields').hide(500);
            }
        }).trigger('change');
    </script>


{% endblock %}
