{% load localeurl_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
		<title>Kaliman Caribe - Main</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="google-site-verification" content="M9PNRBTOx_ZibokftzDrmW8HWqr3y5nj2K42MXqbXRI" />
		<meta name="description" content="внос, дистрибуция и търговия на тютюневи изделия и аксесоари за пушене" lang="bg">
		<meta name="keywords" content="внос,дистрибуция,търговия,тютюн, пури, пурети,аксесоари">
		<link rel="shortcut icon" href="http://javadev.magicbg.com/kaliman_caribe/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	</head>

	<body>
		<div id="wrapper">
			<div style="width: 50%; position:absolute; top: 20%; left:25%; margin: 0 auto; text-align: center;">
				<p style="text-align: center; margin: 30px 0;"><img src="/static/css/images/the-logo.png" alt="logo"></p>
				<p style="text-align: justify; font-weight: bold;">Сайтът на „Калиман
					Карибе” ООД – официален вносител на кубинските ръчно свити пури
					Habanos, съдържа информация за тютюневи изделия. Според българското
					законодателство лица, които не са навършили 18 години, нямат право да
					посещават такъв тип страници в интернет пространството. За да продължите
					ползването на <a href="#">www.kalimancaribe.com</a> е нужно да потвърдите вашето пълнолетие.</p>
				<p>
					<form name="adult" method="post" action="">
						<input type="hidden" name="has_18" value="1" />
						<a href="?has_18=1&next=/bg/{{ request.GET.next|slice:"4:" }}" style="text-decoration: none;">Имам навършени 18 години</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="/bg/sorry/" style="text-decoration: none;">Нямам навършени 18 години</a></p>
				</form>

				<img src="/static/css/images/nav-bgr.png" style="width: 640px; margin: 16px 0;" />

				<p style="text-align: justify; font-weight: bold;">The website of Kaliman Caribe Ltd.,
					official importer of Cuban hand made Habanos cigars, provides information about tobacco products.
					According to the Bulgaria’s law, individuals under the age of 18 are not allowed to visit such Internet sites.
					You should confirm that you are of legal age before you continue using
					<a href="#">www.kalimancaribe.com</a></p>
				<p>
					<form name="adult" method="post" action="">
						<input type="hidden" name="has_18" value="1" />
						<a href="?has_18=1&next=/en/{{ request.GET.next|slice:"4:" }}" style="text-decoration: none;">Yes, I am at least 18 years old</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="/en/sorry/" style="text-decoration: none;">No, I am under 18 years</a></p>
				</form>
			</div>
		</div>


		<div id="fancybox-tmp"></div><div id="fancybox-loading"><div></div></div><div id="fancybox-overlay"></div><div id="fancybox-wrap"><div id="fancybox-outer"><div class="fancybox-bg" id="fancybox-bg-n"></div><div class="fancybox-bg" id="fancybox-bg-ne"></div><div class="fancybox-bg" id="fancybox-bg-e"></div><div class="fancybox-bg" id="fancybox-bg-se"></div><div class="fancybox-bg" id="fancybox-bg-s"></div><div class="fancybox-bg" id="fancybox-bg-sw"></div><div class="fancybox-bg" id="fancybox-bg-w"></div><div class="fancybox-bg" id="fancybox-bg-nw"></div><div id="fancybox-content"></div><a id="fancybox-close"></a><div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a></div></div></body></html>
