{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}

{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
<li>{% trans "Category Index" %}</li>
{% endblock %}

{% block content %}
<h1 class="full">{% trans "Categories" %}</h2>
{% for category in categorylist %}
    <h2><a href="{{ category.get_absolute_url }}">{{ category.translated_name }}</a></h2>
    {% if category.translated_description %}<p class="product_category_description">{{ category.translated_description }}</p>{% endif %}
{% endfor %}
{% endblock %}
