{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_category %}

{% block extra-head %}
{% if category.meta %}
<meta name="description" content="{{ category.meta|escape }}">
{% endif %}
{% endblock %}

{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% for parent in category.parents %}<li><a href="{{ parent.get_absolute_url }}">{{ parent.translated_name }}</a></li>{% endfor %}
<li>{{ category.translated_name }}</li>
{% endblock %}

{% block content %}
<p class="breadcrumps">
	<a href="/{{ LANGUAGE_CODE }}/category/" title="{% trans "Products" %}">{% trans "Products" %}</a> »
	{% if category.parents %}{% for parent in category.parents %}
	<a href="{{ parent.get_absolute_url }}" title="{{ parent.translated_name }}">{{ parent.translated_name }}</a> »
	{% endfor %}{% endif %}
	<span>{{ category.translated_name }}</span>
</p>
<div class="product_category">
	<form action="" method="get" class="filterForm" style="display: none;">
		<label for="id_order_by">{% trans "Order By" %}:</label>
		<select name="order_by" id="id_order_by">
			<option value="name" {% if order_by == 'name' %}selected="selected"{% endif %}>{% trans "Name" %}</option>
			<option value="price" {% if order_by == 'price' %}selected="selected"{% endif %}>{% trans "Price" %}</option>
		</select>
		<select name="order_type">
			<option value="" {% if order_type == '' %}selected="selected"{% endif %}>{% trans "Ascending" %}</option>
			<option value="-" {% if order_type == '-' %}selected="selected"{% endif %}>{% trans "Descending" %}</option>
		</select>
		<input class="submit" type="submit" value="{% trans 'Sort' %}" />
	</form>
	<div class="clear"></div>
	<h1 class="full">{{ category.translated_name }}</h1>
	<script type="text/javascript">
		function show_popup(){
			video_window = window.open('/static/images/aromastrength.png','a','width=543,height=503');
			video_window.moveTo(0,0);
		};

$(function(){
		if(!$(".filterForm").is(":visible") && $('.product').length > 0){
		$(".filterForm").show();
		}
		});

</script>
</div>
{% if category.id in puri or category.parents.0.id in puri %}
<p class="silaPuri"><a onclick="show_popup()" href="javascript:void(0);" title="{% trans "Сила на пурите" %}">{% trans "Сила на пурите" %}</a></li>
| <a href="/{{ LANGUAGE_CODE }}/search/" class="advanced_search">{% trans "Advanced Search" %}</a></p>
		{% endif %}
		{% if category.translated_description %}<p class="product_category_description">{{ category.translated_description }}</p>{% endif %}
		{% for cat, products in products_in_categories %}
		{% if not deep_child or category.parent.id not in free_child or category.id in force_expose_only_categories or category.id = 229 %}
		{% if cat != category %}<h2 class="list_products">{{ cat.translated_name }}</h2>{% endif %}
		{% for product in products %}
		{% if forloop.first %} <ul class="brands product width100"> {% endif %}
			<li>{% thumbnail product.main_image.picture "85x85" as image %}
				<a href="{{ product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ product.translated_name }}"/></a>
				{% endthumbnail %}
				<h3><a href="{{ product.get_absolute_url }}" title="{{ product.translated_name }}"><span>{{ product.translated_name }}</span></a></h3>
				<a href="{{ product.get_absolute_url }}" title="{{ product.translated_name }}">{{ product.price_set.all.0|floatformat:2 }}BGN</a>
				{% if product.weight %}<a href="{{ product.get_absolute_url }}">{{ product.weight|floatformat:0 }}g</a>{% endif %}
			</li>
			{% if forloop.last %} </ul> {% endif %}
		{% endfor %}
		{% endif %}
		{% endfor %}
		{% if deep_child or category.parents.0.id not in free_child %}
		{% if child_categories %}
		<ul class="brands">
			{% if category.id == 37  %}
			<li>
				<a title="{% trans 'Habanos пури' %}" href="/{{ LANGUAGE_CODE }}/category/habanos-cigars/">
					<img width="128" height="90" src="/static/images/habanos_t120.png" alt="Habanos" />
				</a>
				<h3><a title="Habanos пури" href="">{% trans 'Habanos пури' %}</a></h3>
			</li>
			{% endif %}
			{% for cat in child_categories %}{% if cat.parents.0 == cat.parent or category.include_child_categories  %}
			<li>
				{% thumbnail cat.main_image.picture "128x90" as image %}
				<a href="{{ cat.get_absolute_url }}" title="{{ cat.translated_name }}">
					<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{cat.translated_name}}" />
				</a>
				{% endthumbnail %}
				<h3><a href="{{ cat.get_absolute_url }}" title="{{cat.translated_name}}">{{cat.translated_name}}</a></h3>
			</li>
			{% endif %}{% endfor %}
		</ul>
		{% endif %}
		{% endif %}
		{% if sale %}
		{% include "product/some_discount_eligible.html" %}
		{% endif %}
		<p class="product_category_description">{{ category.parents.0.translated_bottom_description|safe }}</p>

		{% endblock %}
