{% extends "base.html" %}
{% comment %}
-------------------------------------------------------------------
This is the base product detail page.
To modify the templates of specific types of products, such as
ProductVariations or CustomProducts, look for product/detail_xxx.html
-------------------------------------------------------------------
{% endcomment %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category satchmo_tax%}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}
{% load satchmo_thumbnail %}

{% block extra-head %}
<link rel="stylesheet" href="{{ media_url }}css/colorbox.css" />
<script type="text/javascript" src="{{media_url}}js/jquery.form.js"></script>
<script type="text/javascript" src="{{media_url}}js/satchmo_product.js?version=20120127"></script>
<script type="text/javascript" src="{{ media_url }}js/colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript">
	$(function(){
			window.generateGallery = function() {
			$('a.gallery').colorbox({ opacity:0.5 , rel:'group1' });
			};
			window.generateGallery();
			});
		</script>
		{% blackbird_logging %}
		<script type="text/javascript">{# Javascript which is generated uniquely for each page #}
			satchmo.default_view_tax = {% if default_view_tax %}true{% else %}false{% endif %};

satchmo.variations = {{ details|as_json }};

satchmo.set_option_ids([{% for option_group in options %}{{ option_group.id }}{% if not forloop.last %},{% endif %}{% endfor %}]);
/* {{details}} */
$(document).ready(function() {
		satchmo.update_price();
		$('.priced').change(function() { satchmo.update_price() });
		});
// generate thumbnails for all alternate images
{% if details %}
satchmo.thumbnails = new Array();
{{ details|js_thumbnail_array:"width=280,height=280" }}
{% endif %}
</script>
{% if product.meta %}
<meta name="description" content="{{product.meta}}">
{% endif %}
{% endblock %}

{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% for name, url in product.category.all.0.get_url_name %}
<li><a href="{{ url }}">{{ name }}</a></li>
{% endfor %}
<li>{{ product.translated_name }}</li>
{% endblock %}

{% block content %}


<div class="middle_column left">
	<p class="breadcrumps">
		<a href="/{{ LANGUAGE_CODE }}/category/" title="{% trans "Products" %}">{% trans "Products" %}</a> »
		{% for parent in product.category.all.0.parents %}
		<a href="{{ parent.get_absolute_url }}" title="{{ parent.translated_name }}">{{ parent.translated_name }}</a> »
		{% endfor %}
		<a href="{{ product.category.all.0.get_absolute_url }}" title="{{ product.category.all.0.translated_name }}">{{ product.category.all.0.translated_name }}</a> »
		<span>{{ product.translated_name }}</span>
	</p>
	<table>
		<tr>
			<td>
				<div id="product_images">
					<ul>
						{% for pic in product.productimage_set.all %}{% thumbnail pic.picture "280x180" as thumb %}
						<li{% if not forloop.first %} style="display: none;"{% endif %}>
							<a class="gallery product_image`" href="{{ pic.picture.url }}#" title="{{ product.name }}">
								<img src="{{ thumb.url }}" alt="{{ product.name }}" />
							</a>
						</li>
						{% endthumbnail %}{% endfor %}
					</ul>
				</div>
				<div id="image_links" style="display:none;"></div>
			</td>
			<td>
				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
				<h1 id="product_name" style="width: 300px;">{{ product.translated_name }}<br/></h1>
				{% for att in product.translated_attributes %}
				{{ att.description }}: {{ att.value }}<br/>
				{% endfor %}
			</td>
		</tr>
	</table>
	<div>
		<form id="options" action="{% if allowed_purchase %}{% url satchmo_smart_add %}{% else %}#{% endif %}" method="post" class="newsletter product_price">{% csrf_token %}
			<!--package-->
			{% for option_group in options %}
			{{ option_group.name }}
			<select name="{{ option_group.id }}" id="{{option_group.id}}" class="priced">
				{% for choice in option_group.items %}
				<option value="{{ choice.value }}" {% if choice.selected %}selected="selected"{% endif %}>{{ choice.translated_name }}
				{% if choice.price_change %}
				{% option_price choice %}
				{% endif %}
				</option>
				{% endfor %}
			</select>

			{% endfor %}
			&nbsp;
			<!--price-->
			{% trans 'Price' %}{% if sale %}<strike id="fullprice" style="display: block;">{{ product|discount_price:""|currency }}</strike>{% endif %}
			<span id="price" style="color: #F8DAAF; font-size: 16px;">{{ product|discount_price:sale|currency }}</span>
			&nbsp;
			{% if allowed_purchase %}
			<!--Quantity-->
			{% trans "Quantity" %} <input type="text" size="2" name="quantity" id="quantity" value="1" class="priced" />
			<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
			<button id="addcart" type="submit" class="order_now"><span>{% trans "Купи" %}</span></button>
			{% plugin_point "product_add_buttons" %}
			{% plugin_point "product_form" %}
			{% else %}
			<p>
				За да закупите желания от вас продукт, посетете специализирани магазини
				<a href="/{{ LANGUAGE_CODE }}/stores/">La Casa  del Habano и  Premium Cigars&Tobacco</a>, 
				или се свържете с „Калиман Карибе“ на тел.:
				<a href="tel:+359 889 705 820">+359 889 705 820</a>, <a href="tel:+359 889300091">+359 889300091</a>, <a href="tel:+359 2 9746499">+359 2 9746499</a>,
				<a href="mailto:contact@kaliman.bg">contact@kaliman.bg</a> за поръчка.
				</p>
			{% endif %}
			</form>
		</div>

		<p class="productattributes">
			<p>{{ product.translated_description }}</p>
		</p>

		{% block productfooter %}
		{% if sale %}{% include "product/product_discount_eligible.html" %}{% endif %}
		{% plugin_point "product_footer" %}
		{% endblock %}
	</div>
	{% endblock %}

	{% block related_products %}{% if related_products %}
	{% if product.category.all.0.id in puri or product.category.all.0.parents.0.id in puri %}
	<script type="text/javascript">
		function show_popup(){
			video_window = window.open('/static/images/aromastrength.png','a','width=543,height=503');
			video_window.moveTo(0,0);
		}
</script>
<p>
	<a onclick="show_popup()" href="javascript:void(0);" title="Сила на пурите">{% trans "Сила на пурите" %}</a>
	<br />
	<br />
	<a href="/{{ LANGUAGE_CODE }}/search/" class="advanced_search">{% trans "Advanced Search" %}</a>
</p>
{% endif %}
</p>
<h3>{% trans 'Related Products' %}</h3>
<div class="related">
	<ul class="brands product">
		{% for product in related_products %}
		<li>{% thumbnail product.main_image.picture "85x85" as image %}
			<a href="{{ product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ product.translated_name }}"/></a>
			{% endthumbnail %}
			<a href="{{ product.get_absolute_url }}"><span>{{ product.translated_name }}</span></a>
			<a href="{{ product.get_absolute_url }}">{{ product.price_set.all.0|floatformat:2 }}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}{% endblock %}
