<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Kaliman Caribe</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="внос, дистрибуция и търговия на тютюневи изделия и аксесоари за пушене" lang="bg">
        <meta name="keywords" content="внос,дистрибуция,търговия,тютюн, пури, пурети,аксесоари">
        <link rel="shortcut icon" href="http://javadev.magicbg.com/kaliman_caribe/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    </head>
    <body>
        <div id="wrapper">
            <div style="width: 50%; position:absolute; top: 20%; left:25%; margin: 0 auto; text-align: center;">
                <p style="text-align: center; margin: 30px 0;"><img src="/static/css/images/the-logo.png" alt="logo"></p>
                <p style="text-align: justify; font-weight: bold;">
                    {{ flatpage.content }}
                </p>
            </div>
        </div>
    </body>
</html>
