{% extends "base.html" %}

{% block logo %}<img src="/static/images/big-images/products.jpg" alt="Kaliman caribe 1" class="section_image"/>{% endblock %}

{%block global_content %}
<div class="center">
	<p class="breadcrumbs"> <a href="/{{ LANGUAGE_CODE }}/">{% trans "Начало" %}</a> » <span>{{ flatpage.title }}</span></p>

    <h1 class="full">{{ flatpage.title }}</h1>
    <div class="box">
        {{ flatpage.content }}
    </div>
</div>
{% endblock %}
